/*SignInGeneral.css*/


.Profile-User-General{
    width: 140px;
    height: 140px;
    margin-left: 690px;
    margin-top: 10px;
}

.SignIn-one{
    background: white;
    width: 400px;
    padding: 3px;
    margin: 60px 0 0 570px;
}

.SignIn-name{
    margin-bottom: 30px;
}

.SignIn-password{
    margin-bottom: 25px;
}

.SignIn-fogot-password{
    color: #000066;
    font-weight: normal;
}


.form-control{
    border-color: black;
    border-width: 10px;
    border-width: 5px;
}

.SignIn-remember-me{
    color: black;
    font-weight: normal;
    margin-right: 63px;
}

.remember-me-checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
  }

  .remember-me-checkbox:checked {
    background:black;
    border: 2px solid white;
  }

  .error-message{
    color: red;
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 5px; /* Add some top margin for spacing */
  }

/* ContactUSFull.css*/

  .ContactUSFull{
    width: 100%;
    height: auto;
  }
  
   
  