.photo-box{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
}
.title{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
}
.para{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40%;
    margin-left: 80px;
}
   