.photo-box{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
}
.title{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
    color: navy;
}
.para{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40%;
    margin-left: 80px;
}
.section{
    display: flex;
}
.show{
    margin-right: 80px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}  
.paras{
    margin-right: 20px;
    margin-left: 80px;
    width:1200px;

}
.learn-more-button {

    background-color: navy; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    
}
.styled-line{
    margin-left: 80px;
    margin-right: 80px;
    border: none;
    height: 2px;
    background-color: #000;
}
.show1{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-right: 80px;
    margin-left: 80px;
}
.pol1{
    margin-top: 70px;
}
.pol2{
    margin-top: 70px;

}
.po1{
    margin-left: 80px;
}
.po2{
    
    margin-left: 80px;
}
.section2{
    margin-left: 600px;
    display: flex;
}